/*
* Playback UI controls
*
* https://ultrafunk.com
*
*/

.site-theme-light {
  --progress-bar-color: #dd0000;
  --progress-bar-color-autoplay-off: #4080ff;
    
  --playback-play-pause-color: #dd0000;
  --playback-play-pause-hover-color: #ff0000;
  --playback-play-pause-color-autoplay-off: #3264c8;
  --playback-play-pause-hover-color-autoplay-off: #4080ff;
}

.site-theme-dark {
  --progress-bar-color: #dd0000;
  --progress-bar-color-autoplay-off: #4080ff;

  --playback-play-pause-color: #dd0000;
  --playback-play-pause-hover-color: #ff0000;
  --playback-play-pause-color-autoplay-off: #3264c8;
  --playback-play-pause-hover-color-autoplay-off: #4080ff;
}


/**************************************************************************************************
* Progress controls
***************************************************************************************************/

#progress-controls {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.progress-seek-control {
  position: absolute;
  width: 100%;
  padding-bottom: 15px;
  cursor: pointer;
  z-index: 100;
}

.progress-seek-control.state-disabled {
  pointer-events: none;
  cursor: default;
}

.progress-bar-control {
  background: var(--progress-bar-color);
  height: 5px;
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}

body.autoplay-off .progress-bar-control {
  background: var(--progress-bar-color-autoplay-off);
}


/**************************************************************************************************
* Playback controls
* - Details:      Artist + Title
* - Thumbnail:    Track image
* - Timer:        Track position and duration
* - Previous:     Prev track + seek to start
* - Play / Pause: Playback state toggle (autoplay and DJ-mode)
* - Next:         Next track
* - Repeat:       Repeat Off, All or One
* - Shuffle:      Shuffle All, Artist or Channel
* - Mute:         Master mute
* - Player:       Gallery or List toggle
***************************************************************************************************/

#playback-controls {
  line-height: 0;
  float: right;
  display: flex;
  align-items: center;  
  height: 54px;
  margin-right: -8px;
  min-width: 0;
}

.playback-details-control {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  text-overflow: ellipsis;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 10px;
  padding: 5px 10px;
  color: var(--primary-icon-color);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.playback-details-control .playback-details-artist {
  font-weight: 700;
}

.playback-details-control:hover {
  opacity: var(--control-hover-opacity);
}

.playback-thumbnail-control {
  width: 46px;
  min-width: 46px;
  height: 46px;
  margin-right: 18px;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  border-radius: var(--button-border-radius);
}

.playback-thumbnail-control.state-disabled {
  display: none;
}

.playback-thumbnail-control.loading {
  border-radius: var(--button-border-radius);
  background-color: var(--control-disabled-background-rgba);
}

.playback-thumbnail-control img {
  width: 46px;
  height: 46px;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
}

.playback-thumbnail-control.type-youtube img {
  height: 62px;
  margin-top: -8px;
}

.playback-thumbnail-control .thumbnail-overlay,
.playback-thumbnail-control .thumbnail-overlay .spinner {
  display: none;
}

.playback-thumbnail-control.state-loading .thumbnail-overlay {
  display: block;
  position: absolute;
  width: 46px;
  height: 46px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: var(--button-border-radius);
}

.playback-thumbnail-control.state-loading .spinner {
  display: block;
  border: 4px solid rgba(128, 128, 128, 0.5);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  animation: rotate-spinner 1.25s linear infinite;
  margin-left: 6px;
  margin-top: 6px;
}

@keyframes rotate-spinner {
    0% { transform: rotate(  0deg); }
   50% { transform: rotate(110deg); }
  100% { transform: rotate(360deg); }
}

.playback-timer-control {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  text-align: right;
  margin-right: 10px;
  color: var(--primary-icon-color);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.playback-timer-control.display-minutes {
  min-width: 40px;
}

.playback-timer-control.display-hours {
  min-width: 60px;
}

.playback-details-control.state-hidden,
.playback-thumbnail-control.state-hidden,
.playback-timer-control.state-hidden {
  visibility: hidden;
}

.playback-player-type-control.gallery-player .material-icons-sharp {
  font-size: 34px;
  width: 34px;
  height: 34px;
  padding: 3px;
  margin: 0 6px;
}

.playback-player-type-control.list-player .material-icons-sharp {
  font-size: 42px;
  width: 42px;
  height: 42px;
  padding: 0;
  margin: 0 5px;
  transform: scaleX(-1);
}

.playback-player-type-control:hover {
  color: var(--link-hover-color);
}

body.search .playback-player-type-control,
body.channel-soundcloud .playback-player-type-control,
body.single.track .playback-player-type-control {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.playback-prev-control .material-icons,
.playback-play-pause-control .material-icons,
.playback-next-control .material-icons {
  font-size: 50px;
  width: 50px;
  height: 50px;
}

.playback-player-type-control,
.playback-prev-control,
.playback-play-pause-control,
.playback-next-control,
.playback-repeat-control,
.playback-shuffle-control,
.playback-mute-control {
  display: inline-block;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.playback-player-type-control.state-disabled,
.playback-prev-control.state-disabled,
.playback-play-pause-control.state-disabled,
.playback-next-control.state-disabled,
.playback-repeat-control.state-disabled,
.playback-shuffle-control.state-disabled,
.playback-mute-control.state-disabled {
  opacity: var(--control-disabled-opacity);
  color: var(--primary-icon-color);
  pointer-events: none;
}

.playback-player-type-control.state-disabled:hover,
.playback-prev-control.state-disabled:hover,
.playback-play-pause-control.state-disabled:hover,
.playback-next-control.state-disabled:hover,
.playback-repeat-control.state-disabled:hover,
.playback-shuffle-control.state-disabled:hover,
.playback-mute-control.state-disabled:hover {
  opacity: var(--control-disabled-opacity);
  cursor: default;
}

.playback-play-pause-control {
  color: var(--playback-play-pause-color);
  cursor: pointer;
}

.playback-play-pause-control:hover {
  color: var(--playback-play-pause-hover-color);
}

body.autoplay-off .playback-play-pause-control.state-playing,
body.autoplay-off .playback-play-pause-control.state-paused {
  color: var(--playback-play-pause-color-autoplay-off);
}

body.autoplay-off .playback-play-pause-control:hover {
  color: var(--playback-play-pause-hover-color-autoplay-off);
}

.playback-play-pause-control.state-playing,
.playback-play-pause-control.state-paused {
  background-image: url(../../../inc/img/play_pause_bg_filler.png);
  background-repeat: no-repeat;
  background-position: center;
}

body.autoplay-off .playback-play-pause-control.state-playing.time-remaining-warning {
  opacity: 0.25;
}

.playback-player-type-control,
.playback-prev-control,
.playback-next-control,
.playback-repeat-control,
.playback-shuffle-control,
.playback-mute-control {
  color: var(--primary-icon-color);
  cursor: pointer;
}

.playback-prev-control:hover,
.playback-next-control:hover,
.playback-repeat-control:hover,
.playback-mute-control:hover {
  opacity: var(--control-hover-opacity);
}

.playback-repeat-control .material-icons,
.playback-shuffle-control .material-icons,
.playback-mute-control .material-icons {
  font-size: 30px;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.playback-repeat-control[data-repeat-mode="0"] {
  opacity: var(--control-disabled-opacity);
}

.playback-shuffle-control:hover {
  color: var(--link-hover-color);
}


/**************************************************************************************************
* "Unstick" all hover styles when using touch input
***************************************************************************************************/

@media not all and (pointer: fine) {

  .playback-details-control {
    color: var(--primary-font-color);
  }

  .playback-details-control:hover {
    color: var(--primary-font-color);
    opacity: 1;
  }
    
  .playback-play-pause-control {
    color: var(--playback-play-pause-color);
  }

  .playback-play-pause-control:hover {
    -webkit-tap-highlight-color: transparent;
    color: var(--playback-play-pause-color);
    opacity: 1;
  }

  body.autoplay-off .playback-play-pause-control.state-playing,
  body.autoplay-off .playback-play-pause-control.state-paused {
    color: var(--playback-play-pause-color-autoplay-off);
  }

  body.autoplay-off .playback-play-pause-control:hover {
    -webkit-tap-highlight-color: transparent;
    color: var(--playback-play-pause-color-autoplay-off);
    opacity: 1;
  }

  .playback-prev-control,
  .playback-next-control,
  .playback-repeat-control,
  .playback-mute-control {
    color: var(--primary-icon-color);
  }

  .playback-prev-control:hover,
  .playback-next-control:hover,
  .playback-repeat-control:hover,
  .playback-mute-control:hover {
    color: var(--primary-icon-color);
    opacity: 1;
  }

}


/**************************************************************************************************
* Responsive: max-width: 1100px
***************************************************************************************************/

@media screen and (max-width: 1100px) {

  #playback-controls {
    margin-right: -12px;
  }
  
  .playback-details-control {
    margin-right: 0px;
  }

  .playback-player-type-control,
  .playback-thumbnail-control,
  .playback-timer-control,
  .playback-repeat-control,
  .playback-shuffle-control,
  .playback-mute-control {
    display: none;
  }
 
}


/**************************************************************************************************
* Responsive: max-width: 700px
***************************************************************************************************/

@media screen and (max-width: 700px) {

  #playback-controls {
    min-width: auto;
  }

  .playback-details-control {
    display: none;
  }

}


/**************************************************************************************************
* Responsive: max-width: 500px
***************************************************************************************************/

@media screen and (max-width: 500px) {

  .progress-bar-control {
    height: 10px;
  }

  #playback-controls {
    margin-right: -11px;
    height: 48px;
    max-width: calc(100% + 11px);
    width: calc(100% + 11px);
  }
  
  #playback-controls .material-icons {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }

  .playback-details-control {
    font-size: 13px;
    line-height: 18px;
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    text-align: left;
    width: 100%;
  }

  .playback-thumbnail-control.show-on-mobile {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 15px;
    display: inline-block;
    order: -1;
  }

  .playback-thumbnail-control img {
    width: 40px;
    height: 40px;
  }

  .playback-thumbnail-control.type-youtube img {
    height: 54px;
    margin-top: -7px;
  }
  
  .playback-thumbnail-control.state-loading .thumbnail-overlay {
    width: 40px;
    height: 40px;
  }
  
  .playback-thumbnail-control.state-loading .spinner {
    width: 22px;
    height: 22px;
    margin-left: 5px;
    margin-top: 5px;
  }

  .playback-timer-control {
    font-size: 13px;
    line-height: 18px;
  }

  .playback-timer-control.display-minutes {
    min-width: 35px;
  }

  .playback-timer-control.display-hours {
    min-width: 55px;
  }

  .playback-timer-control.show-on-mobile,
  body.autoplay-off .playback-timer-control {
    display: inline-block;
    margin-right: 4px;
    margin-left: 9px;
  }

  .playback-prev-control {
    display: none;
  }

  .playback-prev-control.show-on-mobile {
    display: inline-block;
  }

  .playback-prev-control.mobile-margin-3px {
    margin-left: 3px;
  }

  .playback-play-pause-control.mobile-margin-6px {
    margin-left: 6px;
  }

  .playback-play-pause-control.mobile-margin-10px {
    margin-left: 10px;
  }

}
