/*
* List-player layout
*
* https://ultrafunk.com
*
*/

body.list-player {
  --site-max-width: calc(100% - 130px);
  --site-content-margin-top: 60px;
  --site-content-margin-bottom: 60px;
  --footer-max-width: 1500px;
}

.site-theme-light {
  --track-separator-color: #ddd;
  --track-current-color: #ddd;
  --track-thumbnail-placeholder-color: #ddd;
  --tracklist-page-separator-color: #f1f1f1;
}

.site-theme-dark {
  --track-separator-color: #444;
  --track-current-color: #444;
  --track-thumbnail-placeholder-color: #444;
  --tracklist-page-separator-color: #303030;
}

.site-theme-black {
  --track-separator-color: #303030;
  --track-current-color: #303030;
  --track-thumbnail-placeholder-color: #303030;
  --tracklist-page-separator-color: #202020;
}

body.list-player .site-branding {
  min-width: 340px;
}

.players-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.embedded-container {
  width: 65%;

  .wp-block-embed__wrapper {
    width: 100%;
  }

  .wp-block-embed__wrapper.aspect-ratio-16_9 {
    margin: 0;
  }

  .wp-block-embed__wrapper.aspect-ratio-1_1 {
    max-width: 56.25%;
    margin: 0 auto;
  }

  &.youtube-container,
  &.soundcloud-container,
  &.local-container {
    display: none;
  }

  &.local-container .wp-block-embed__wrapper {
    height: unset;
  }

  &.local-container .artist-title-container {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    display: none;
  }

  &.local-container .artist-title {
    color: #fff;
    font-size: 20px;
    margin: 15px 25px 23px 25px;
  }

  &.local-container audio {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: none;
  }

  @media all and (pointer: fine) {

    &.local-container .wp-block-embed__wrapper:hover .artist-title-container,
    &.local-container .wp-block-embed__wrapper:hover audio {
      display: unset;
    }

  }

  &.local-container audio::-webkit-media-controls-enclosure {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.5);
    filter: invert(1);
  }

  &.local-container audio::-webkit-media-controls-current-time-display,
  &.local-container audio::-webkit-media-controls-time-remaining-display {
    font-weight: 700;
  }
}

#local-player {
  display: flex;
  justify-content: center;
}

#local-player-image {
  position: absolute;
  top: 0;
  height: 100%;
  cursor: pointer;
}

#tracklist {
  width: 35.5%;
  max-height: 855px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 65px;
  display: block;
  position: relative;
  overscroll-behavior-y: contain;
}

.tracklist-page-separator {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--primary-font-color);
  background-color: var(--tracklist-page-separator-color);
  border-bottom: 1px solid var(--track-separator-color);
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: var(--primary-font-color);
    text-decoration: none;
    text-align: center;
    padding: 8px 16px;
    margin: 0 auto;
  }

  a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
  }

  .material-icons {
    color: var(--primary-icon-color);
    font-size: 30px;
    padding: 8px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .arrow-down-button {
    margin-left: 10px;
  }

  .arrow-up-button {
    margin-right: 5px;
  }

  @media all and (pointer: fine) {

    .material-icons:hover {
      background-color: var(--control-highlight-color);
      cursor: pointer;
    }

  }

  @media not all and (pointer: fine) {

    .material-icons {
      transition: var(--button-default-transition);
    }

    .material-icons:active {
      background-color: var(--control-highlight-color);
      transition: var(--button-active-transition);
    }

  }

}

#tracklist-load-more-button {
  display: none;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  padding: 12px 0;
  color: var(--site-theme-icon-color);
  background-color: var(--site-theme-light-color);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

@media all and (pointer: fine) {

  #tracklist-load-more-button:hover {
    background-color: var(--site-theme-medium-color);
    cursor: pointer;
  }

}

@media not all and (pointer: fine) {

  #tracklist-load-more-button {
    transition: var(--button-default-transition);
  }

  #tracklist-load-more-button:active {
    background-color: var(--site-theme-medium-color);
    transition: var(--button-active-transition);
  }

}

.load-more-loader {
  font-size: 60px;
  display: none;
}

.load-more-loader .loader-1,
.load-more-loader .loader-2,
.load-more-loader .loader-3,
.load-more-loader .loader-4,
.load-more-loader .loader-5 {
  display: inline-block;
  animation: var(--loading-dots-animation);
}

.load-more-loader .loader-1 {
  animation-delay: -1.000s;
}

.load-more-loader .loader-2 {
  animation-delay: -0.875s;
}

.load-more-loader .loader-3 {
  animation-delay: -0.750s;
}

.load-more-loader .loader-4 {
  animation-delay: -0.625s;
}

.load-more-loader .loader-5 {
  animation-delay: -0.500s;
}

#tracklist-local {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tracklist-page-separator-color);
  padding: 30px 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

input#select-local-files {
  font-size: 0;
  margin-left: 10px;
}

input#select-local-files::file-selector-button {
  font-size: 20px;
}

button#clear-local-tracks {
  all: revert;
  font-size: 20px;
  margin-left: 5px;
}

body.list-player #site-footer {
  padding-left: 65px;
  padding-right: 65px;
}

body.list-player .site-footer-container {
  max-width: var(--footer-max-width);
}


/**************************************************************************************************
* Responsive: max-width: 1920px
***************************************************************************************************/

@media screen and (max-width: 1920px) {

  #tracklist {
    max-height: 611px;
    width: 37.2%;
  }

}


/**************************************************************************************************
* Responsive: max-width: 1600px
***************************************************************************************************/

@media screen and (max-width: 1600px) {

  .embedded-container .wp-block-embed__wrapper.aspect-ratio-1_1 {
    padding-top: 69.25%;
    max-width: 69.25%;
  }

}


/**************************************************************************************************
* Responsive: max-width: 1350px
***************************************************************************************************/

@media screen and (max-width: 1350px) {

  body.list-player .site-header-container,
  body.list-player #site-search-container,
  body.list-player #site-footer {
    padding-left: unset;
    padding-right: unset;
  }

  body.list-player.search .site-header-container,
  body.list-player.search #site-search-container,
  body.list-player #site-content,
  body.list-player .site-footer-container {
    max-width: var(--site-max-width);
  }

  body.list-player .site-branding {
    min-width: 300px;
  }

  body.list-player nav.navigation {
    padding-left: unset;
    padding-right: unset;
  }

  .players-container {
    display: block;
  }

  .embedded-container {
    width: 100%;
  }

  .embedded-container .wp-block-embed__wrapper.aspect-ratio-1_1 {
    padding-top: 56.25%;
    max-width: 56.25%;
  }

  #tracklist {
    width: 100%;
    max-height: none;
    margin-left: 0;
    margin-top: var(--site-content-margin-top);
    overflow-x: unset;
    overflow-y: unset;
  }

}


/**************************************************************************************************
* Responsive: max-width: 1100px
***************************************************************************************************/

@media screen and (max-width: 1100px) {

  body.list-player .site-branding {
    min-width: unset;
  }

}


/**************************************************************************************************
* Responsive: max-width: 900px
***************************************************************************************************/

@media screen and (max-width: 900px) {

  body.list-player {
    --site-max-width: calc(100% - 100px);
    --site-content-margin-top: 50px;
    --site-content-margin-bottom: 50px;
  }

  .embedded-container .wp-block-embed__wrapper.aspect-ratio-1_1 {
    max-width: 100%;
  }

}


/**************************************************************************************************
* Responsive: max-width: 768px
***************************************************************************************************/

@media screen and (max-width: 768px) {

  body.list-player {
    --site-max-width: calc(100% - 50px);
    --site-content-margin-top: 25px;
    --site-content-margin-bottom: 25px;
  }

}


/**************************************************************************************************
* Responsive: max-width: 500px
***************************************************************************************************/

@media screen and (max-width: 500px) {

  body.list-player {
    --site-max-width: calc(100% - 40px);
    --site-content-margin-top: 0px;
    --site-content-margin-bottom: 0px;
  }

  body.list-player #site-content {
    max-width: 100%;
  }

  body.list-player .navigation.pagination {
    max-width: var(--site-max-width);
  }

  .embedded-container.local-container audio::-webkit-media-controls-enclosure {
    max-height: 40px;
  }

  .embedded-container.local-container audio::-webkit-media-controls-current-time-display,
  .embedded-container.local-container audio::-webkit-media-controls-time-remaining-display {
    font-weight: unset;
  }

  #local-player .artist-title {
    font-size: 14px;
    margin: 12px 16px 15px 16px;
  }

  #tracklist-load-more-button {
    font-size: 15px;
    line-height: 27px;
    padding: 10px 0;
  }

  .load-more-loader {
    font-size: 50px;
  }

  .tracklist-page-separator {
    font-size: 15px;
    line-height: 26px;
  }

  .tracklist-page-separator a {
    padding: 7px 14px;
  }

  .tracklist-page-separator .material-icons {
    font-size: 26px;
    padding: 7px;
  }

  .tracklist-page-separator .arrow-down-button {
    margin-left: 11px;
  }

  .tracklist-page-separator .arrow-up-button {
    margin-right: 6px;
  }

  #tracklist-local {
    font-size: 15px;
    line-height: 27px;
  }

  input#select-local-files::file-selector-button {
    font-size: 15px;
  }

  button#clear-local-tracks {
    font-size: 15px;
  }

}
