/*
* List-player realtime track search
*
* https://ultrafunk.com
*
*/

.site-theme-light {
  --track-results-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
  --track-results-background-color: #fff;
  --track-results-separator-color: #ddd;
}

.site-theme-dark {
  --track-results-box-shadow: 0px 15px 25px 0px rgba(0,0,0,1.0);
  --track-results-background-color: #444;
  --track-results-separator-color: #666;
}

.site-theme-black {
  --track-results-box-shadow: 0px 15px 25px 0px rgba(0,0,0,1.0);
  --track-results-background-color: #222;
  --track-results-separator-color: #444;
}

#track-search-results {
  width: 100%;
  position: fixed;
  top: 60px;
  z-index: 2000;
  display: none;
}

#track-search-results .track-results-container {
  max-width: var(--site-max-width);
  max-height: 490px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: var(--track-results-box-shadow);
  border: var(--form-search-field-border-focus);
  border-top: none;
}

#track-search-results .track-results-container:has(div.load-more-loader),
#track-search-results .track-results-container:has(div.results-message) {
  box-shadow: none;
}

#track-search-results .results-tracklist {
  background-color: var(--track-results-background-color);
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

#track-search-results .track-entry {
  border-bottom: 1px solid var(--track-results-separator-color);
}

#track-search-results .track-entry:first-of-type {
  border-top: none;
}

#track-search-results .track-entry:last-of-type {
  border-bottom: none;
}

#track-search-results .track-action-buttons .remove-button,
#track-search-results .track-action-buttons .share-play-button,
#track-search-results .track-action-buttons .details-button {
  display: none;
}

#track-search-results .load-more-loader {
  font-size: 50px;
  line-height: 1px;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#track-search-results .results-message {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}


/**************************************************************************************************
* Responsive
***************************************************************************************************/

@media screen and (max-width: 1920px) {

  #track-search-results .results-tracklist {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

}

@media screen and (max-width: 1500px) {

  #track-search-results .results-tracklist {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

}

@media screen and (max-width: 1100px) {

  #track-search-results .results-tracklist {
    display: block;
  }

}

@media screen and (max-width: 768px) {

  #track-search-results .results-message {
    font-size: unset;
    line-height: unset;
    padding: 7px;
  }

}

@media screen and (max-width: 500px) {

  #track-search-results {
    top: 72px;
  }

  #site-header.scrolling-up #track-search-results {
    top: 110px;
  }

  #track-search-results .track-results-container {
    max-height: 296px;
    max-width: calc(100% - 40px);
    border-top: var(--form-search-field-border-focus);
  }

  #track-search-results .track-entry {
    padding: 0 6px 0 0;
    border-bottom: 2px solid var(--track-results-separator-color);
    font-size: 13px;
    line-height: 16px;
  }

  #track-search-results .track-entry .thumbnail {
    margin-right: 8px;
  }

  #track-search-results .track-actions-toggle {
    display: none;
  }

  #track-search-results .track-action-buttons {
    display: flex;
  }

  #track-search-results .load-more-loader {
    font-size: 40px;
    line-height: 0;
    height: 37px;
    padding-left: 0;
    justify-content: center;
  }

  #track-search-results .results-message {
    font-size: 14px;
    text-align: center;
  }

}
