/*
* Playback UI controls
*
* https://ultrafunk.com
*
*/

.site-theme-light,
.site-theme-dark,
.site-theme-black {
  --progress-bar-color: #dd0000;
  --progress-bar-color-autoplay-off: #4080ff;
  --playback-play-pause-color: #dd0000;
  --playback-play-pause-hover-color: #ff0000;
  --playback-play-pause-color-autoplay-off: #3264c8;
  --playback-play-pause-hover-color-autoplay-off: #4080ff;
}


/**************************************************************************************************
* Progress controls
***************************************************************************************************/

#progress-controls {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.progress-seek-control {
  position: absolute;
  width: 100%;
  padding-bottom: 15px;
  cursor: pointer;
  z-index: 100;
}

.progress-seek-control.state-disabled {
  pointer-events: none;
  cursor: default;
}

.progress-bar-control {
  background: var(--progress-bar-color);
  height: 5px;
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}

body.autoplay-off .progress-bar-control {
  background: var(--progress-bar-color-autoplay-off);
}

body.autoplay-off .progress-bar-control.state-playing.time-remaining-warning {
  opacity: 0.5;
}


/**************************************************************************************************
* Playback controls
* - Thumbnail:    Track image
* - Details:      Artist + Title
* - Timer:        Track position and duration
* - Shuffle:      Shuffle All, Artist or Channel
* - Previous:     Prev track + seek to start
* - Play / Pause: Playback state toggle (autoplay and DJ-mode)
* - Next:         Next track
* - Repeat:       Repeat Off, All or One
* - Player Type:  Gallery or List toggle
* - Mute:         Master mute
* - Volume:       Master volume level
***************************************************************************************************/

#playback-controls {
  line-height: 0;
  display: flex;
  height: 54px;
  margin-right: 2px;
  min-width: 0;
  width: 100%;
}

#playback-controls .current-track-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  margin: 0 15px;
}

#playback-controls .playback-controls-container {
  display: flex;
  align-items: center;
}

.playback-thumbnail-control {
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  border-radius: var(--track-thumbnail-border-radius);
}

.playback-thumbnail-control.state-disabled {
  display: none;
}

.playback-thumbnail-control.loading {
  border-radius: var(--track-thumbnail-border-radius);
  background-color: var(--control-disabled-background-rgba);
}

.playback-thumbnail-control img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
}

.playback-thumbnail-control.track-type-youtube img {
  height: 54px;
  margin-top: -7px;
}

.playback-thumbnail-control .thumbnail-overlay,
.playback-thumbnail-control .thumbnail-overlay .spinner {
  display: none;
}

.playback-thumbnail-control.state-loading .thumbnail-overlay {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: var(--track-thumbnail-border-radius);
}

.playback-thumbnail-control.state-loading .spinner {
  display: block;
  border: 4px solid rgba(128, 128, 128, 0.5);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  animation: var(--loading-spinner-animation);
  margin-left: 5px;
  margin-top: 5px;
}

.playback-details-control {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  padding: 5px 12px 5px 16px;
  color: var(--primary-icon-color);
  max-width: 500px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.playback-details-control .playback-details-artist {
  font-weight: 700;
}

.playback-details-control:hover {
  opacity: var(--control-hover-opacity);
}

.playback-timer-control {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-align: right;
  color: var(--primary-icon-color);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.playback-timer-control.display-minutes {
  min-width: 40px;
}

.playback-timer-control.display-hours {
  min-width: 60px;
}

.playback-details-control.state-hidden,
.playback-thumbnail-control.state-hidden,
.playback-timer-control.state-hidden {
  visibility: hidden;
}

.playback-player-type-toggle.gallery-player .material-icons-sharp {
  font-size: 30px;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.playback-player-type-toggle.list-player .material-icons-sharp {
  font-size: 36px;
  width: 36px;
  height: 36px;
  padding: 2px;
  transform: scaleX(-1);
}

.playback-player-type-toggle:hover {
  color: var(--link-hover-color);
}

body.search .playback-player-type-toggle,
body.channel-soundcloud .playback-player-type-toggle,
body.single.track .playback-player-type-toggle {
  display: none;
}

.playback-prev-button .material-icons,
.playback-play-pause-toggle .material-icons,
.playback-next-button .material-icons {
  font-size: 50px;
  width: 50px;
  height: 50px;
}

.playback-player-type-toggle,
.playback-prev-button,
.playback-play-pause-toggle,
.playback-next-button,
.playback-repeat-toggle,
.playback-shuffle-button,
.playback-mute-toggle,
.playback-volume-control {
  display: inline-block;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.playback-player-type-toggle.state-disabled,
.playback-prev-button.state-disabled,
.playback-play-pause-toggle.state-disabled,
.playback-next-button.state-disabled,
.playback-repeat-toggle.state-disabled,
.playback-shuffle-button.state-disabled,
.playback-mute-toggle.state-disabled,
.playback-volume-control.state-disabled {
  opacity: var(--control-disabled-opacity);
  color: var(--primary-icon-color);
  cursor: default;
  pointer-events: none;
}

.playback-player-type-toggle.state-disabled:hover,
.playback-prev-button.state-disabled:hover,
.playback-play-pause-toggle.state-disabled:hover,
.playback-next-button.state-disabled:hover,
.playback-repeat-toggle.state-disabled:hover,
.playback-shuffle-button.state-disabled:hover,
.playback-mute-toggle.state-disabled:hover,
.playback-volume-control.state-disabled:hover {
  opacity: var(--control-disabled-opacity);
  cursor: default;
}

.playback-play-pause-toggle {
  color: var(--playback-play-pause-color);
  cursor: pointer;
}

.playback-play-pause-toggle:hover {
  color: var(--playback-play-pause-hover-color);
}

body.autoplay-off .playback-play-pause-toggle.state-playing,
body.autoplay-off .playback-play-pause-toggle.state-paused {
  color: var(--playback-play-pause-color-autoplay-off);
}

body.autoplay-off .playback-play-pause-toggle:hover {
  color: var(--playback-play-pause-hover-color-autoplay-off);
}

.playback-play-pause-toggle.state-playing,
.playback-play-pause-toggle.state-paused {
  background-image: url(../../../../inc/img/play_pause_bg_filler.png);
  background-repeat: no-repeat;
  background-position: center;
}

body.autoplay-off .playback-play-pause-toggle.state-playing.time-remaining-warning {
  opacity: 0.25;
}

.playback-player-type-toggle,
.playback-prev-button,
.playback-next-button,
.playback-repeat-toggle,
.playback-shuffle-button,
.playback-mute-toggle {
  color: var(--primary-icon-color);
  cursor: pointer;
}

.playback-prev-button:hover,
.playback-next-button:hover,
.playback-repeat-toggle:hover,
.playback-mute-toggle:hover {
  opacity: var(--control-hover-opacity);
}

.playback-repeat-toggle .material-icons,
.playback-shuffle-button .material-icons,
.playback-mute-toggle .material-icons {
  font-size: 30px;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.playback-repeat-toggle[data-repeat-mode="0"] {
  opacity: var(--control-disabled-opacity);
}

.playback-shuffle-button:hover {
  color: var(--link-hover-color);
}

.playback-volume-control {
  color: var(--primary-icon-color);
  cursor: default;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  text-align: center;
}


/**************************************************************************************************
* "Unstick" all hover styles when using touch input
***************************************************************************************************/

@media not all and (pointer: fine) {

  .playback-details-control {
    color: var(--primary-font-color);
  }

  .playback-details-control:hover {
    color: var(--primary-font-color);
    opacity: 1;
  }

  .playback-play-pause-toggle {
    color: var(--playback-play-pause-color);
  }

  .playback-play-pause-toggle:hover {
    -webkit-tap-highlight-color: transparent;
    color: var(--playback-play-pause-color);
    opacity: 1;
  }

  body.autoplay-off .playback-play-pause-toggle.state-playing,
  body.autoplay-off .playback-play-pause-toggle.state-paused {
    color: var(--playback-play-pause-color-autoplay-off);
  }

  body.autoplay-off .playback-play-pause-toggle:hover {
    -webkit-tap-highlight-color: transparent;
    color: var(--playback-play-pause-color-autoplay-off);
    opacity: 1;
  }

  .playback-prev-button,
  .playback-next-button,
  .playback-repeat-toggle,
  .playback-mute-toggle {
    color: var(--primary-icon-color);
  }

  .playback-prev-button:hover,
  .playback-next-button:hover,
  .playback-repeat-toggle:hover,
  .playback-mute-toggle:hover {
    color: var(--primary-icon-color);
    opacity: 1;
  }

}


/**************************************************************************************************
* Responsive: max-width: 1500px
***************************************************************************************************/

@media screen and (max-width: 1500px) {

  .playback-details-control {
    max-width: 300px;
  }

}


/**************************************************************************************************
* Responsive: max-width: 1350px
***************************************************************************************************/

@media screen and (max-width: 1350px) {

  .playback-player-type-toggle {
    display: none;
  }

}


/**************************************************************************************************
* Responsive: max-width: 1100px
***************************************************************************************************/

@media screen and (max-width: 1100px) {

  #playback-controls {
    margin-right: -12px;
  }

  #playback-controls .current-track-container {
    justify-content: right;
    margin: 0;
  }

  .playback-details-control {
    text-align: left;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    line-height: 18px;
  }

  .playback-thumbnail-control,
  .playback-timer-control,
  .playback-repeat-toggle,
  .playback-shuffle-button,
  .playback-mute-toggle,
  .playback-volume-control {
    display: none;
  }

}


/**************************************************************************************************
* Responsive: max-width: 700px
***************************************************************************************************/

@media screen and (max-width: 700px) {

  #playback-controls {
    min-width: auto;
    width: unset;
  }

  .playback-details-control {
    display: none;
  }

}


/**************************************************************************************************
* Responsive: max-width: 500px
***************************************************************************************************/

@media screen and (max-width: 500px) {

  .progress-bar-control {
    height: 10px;
  }

  #playback-controls {
    margin-right: -9px;
    height: 48px;
    max-width: calc(100% + 9px);
    width: calc(100% + 9px);
  }

  #playback-controls .material-icons {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }

  .playback-thumbnail-control.show-on-mobile {
    display: inline-block;
    margin-right: 15px;
  }

  .playback-thumbnail-control {
    width: 36px;
    min-width: 36px;
    height: 36px;
  }

  .playback-thumbnail-control img {
    width: 36px;
    height: 36px;
  }

  .playback-thumbnail-control.track-type-youtube img {
    height: 48px;
    margin-top: -6px;
  }

  .playback-thumbnail-control.state-loading .thumbnail-overlay {
    width: 36px;
    height: 36px;
  }

  .playback-thumbnail-control.state-loading .spinner {
    width: 18px;
    height: 18px;
  }

  .playback-details-control {
    font-size: 13px;
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    text-align: left;
    width: 100%;
  }

  .playback-timer-control {
    font-size: 13px;
    line-height: 18px;
  }

  .playback-timer-control.display-minutes {
    min-width: 35px;
  }

  .playback-timer-control.display-hours {
    min-width: 55px;
  }

  .playback-timer-control.show-on-mobile,
  body.autoplay-off .playback-timer-control {
    display: inline-block;
    margin-right: 4px;
    margin-left: 9px;
  }

  .playback-prev-button {
    display: none;
  }

  .playback-prev-button.show-on-mobile {
    display: inline-block;
  }

  .playback-prev-button.mobile-margin-3px {
    margin-left: 3px;
  }

  .playback-play-pause-toggle.mobile-margin-6px {
    margin-left: 6px;
  }

  .playback-play-pause-toggle.mobile-margin-10px {
    margin-left: 10px;
  }

}
