/*
* Modal dialog UI
*
* https://ultrafunk.com
*
*/

.site-theme-light {
  --modal-background-color: #fff;
  --item-click-hover-color: #000;
  --item-click-background-hover-color: #d8d8d8;
}

.site-theme-dark {
  --modal-background-color: #444;
  --item-click-hover-color: #fff;
  --item-click-background-hover-color: #666;
}

.site-theme-black {
  --modal-background-color: #333;
  --item-click-hover-color: #fff;
  --item-click-background-hover-color: #555;
}

#modal-dialog-overlay {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  background-color: #000;
  -webkit-tap-highlight-color: transparent;
  justify-content: center;
  align-items: center;
  outline: 0;
  opacity: 0;
}

#modal-dialog-overlay:focus {
  outline: 0;
}

#modal-dialog-overlay.show {
  display: flex;
  opacity: 1;
}

#modal-dialog-container {
  padding: 15px 0 12px 0;
  min-width: 450px;
  max-width: 550px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  background-color: var(--modal-background-color);
  color: var(--primary-font-color);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  border-radius: var(--dialog-border-radius);
  cursor: auto;
  margin-left: 25px;
  margin-right: 25px;
  line-height: 30px;
}

#modal-dialog-container.modal-type-default {
  max-width: 750px;
}

#modal-dialog-container.modal-click-items-2-columns {
  max-width: 600px;
}

.modal-dialog-header {
  display: flex;
  padding: 4px 30px 5px 30px;
  align-items: center;
  justify-content: space-between;
}

.modal-type-default .modal-dialog-header {
  padding-top: 4px;
  padding-bottom: 18px;
}

.modal-dialog-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-dialog-title span.toggle-element {
  cursor: pointer;
}

.modal-dialog-title,
.modal-header-entry {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.modal-dialog-close-icon {
  display: inline-flex;
  color: var(--primary-icon-color);
  width: 40px;
  height: 40px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 15px;
  margin-right: -10px;
  align-self: start;
}

.modal-dialog-close-icon .material-icons {
  font-size: 40px;
  cursor: pointer;
}

.modal-dialog-close-icon:hover {
  opacity: var(--control-hover-opacity);
}

.modal-dialog-body p {
  margin: 0 30px 25px 30px;
  font-size: 20px;
  line-height: 30px;
}

.modal-header-entry {
  padding: 18px 30px 8px 30px;
}

.modal-icon-text,
.modal-hover-icon-text,
.modal-track-share-entry,
.modal-track-details-entry {
  font-size: 20px;
  line-height: 25px;
  padding: 8px 30px;
}

.modal-click-item.modal-hover-icon-text {
  padding: 0px 30px 0px 22px;
}

.modal-track-share-entry {
  padding: 13px 30px 18px 30px;
}

.modal-track-details-entry {
  padding: 12px 30px 6px 30px;
}

.modal-click-item {
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  color: var(--primary-icon-color);
  box-sizing: border-box;
}

a.modal-click-item {
  text-decoration: none;
}

.modal-click-item:hover,
a.modal-click-item:hover {
  color: var(--item-click-hover-color);
  background-color: var(--item-click-background-hover-color);
}

.modal-click-item.primary {
  text-transform: uppercase;
  font-weight: 700;
}

.modal-click-item .material-icons {
  font-size: 28px;
  margin-right: 15px;
  margin-left: -1px;
}

.modal-icon-text,
.modal-hover-icon-text {
  font-weight: 400;
  display: flex;
  align-items: center;
}

.modal-click-item .modal-item-icons {
  display: inline-flex;
}

.modal-click-item .modal-item-icons .material-icons {
  padding: 8px;
  margin-right: 0;
}

.modal-click-item .modal-item-icons:hover .default-icon {
  display: none;
}

.modal-click-item .modal-item-icons .hover-icon {
  display: none;
}

.modal-click-item .modal-item-icons:hover .hover-icon {
  display: block;
}

.modal-click-item.modal-hover-icon-text span.text-nowrap-ellipsis {
  margin-left: 7px;
}

.modal-type-track-details .modal-click-item.modal-2-columns {
  display: inline-flex;
  width: 50%;
}

.modal-dialog-footer {
  display: none;
  justify-content: space-around;
  align-items: center;
  margin: 30px 30px 15px 30px;
}

.modal-type-default .modal-dialog-footer {
  display: flex;
}

.modal-dialog-close-button {
  color: var(--button-text-color);
  background-color: var(--site-theme-light-color);
  padding: 10px 50px;
  border-radius: var(--button-border-radius);
  width: 100px;
  text-align: center;
  font-size: 25px;
  line-height: 32px;
  font-weight: 400;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal-dialog-close-button:hover {
  background-color: var(--site-theme-medium-color);
  cursor: pointer;
}


/**************************************************************************************************
* Responsive: max-width: 1100px
***************************************************************************************************/

@media screen and (max-width: 1100px) {

  .modal-dialog-body p {
    font-size: unset;
    line-height: unset;
  }

}


/**************************************************************************************************
* Responsive: max-width: 768px
***************************************************************************************************/

@media screen and (max-width: 768px) {

  #modal-dialog-container {
    line-height: unset;
  }

  #modal-dialog-container.modal-click-items-2-columns {
    max-width: 550px;
  }

  .modal-type-track-details .modal-click-item.modal-2-columns {
    display: flex;
    width: unset;
  }

}


/**************************************************************************************************
* Responsive: max-width: 500px
***************************************************************************************************/

@media screen and (max-width: 500px) {

  #modal-dialog-container {
    width: 100%;
    min-width: unset;
    padding: 10px 0 6px 0;
    margin: 0 15px 0 15px;
  }

  .modal-dialog-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .modal-dialog-title,
  .modal-header-entry {
    font-size: 20px;
    line-height: 24px;
  }

  .modal-dialog-close-icon {
    width: 32px;
    height: 32px;
    margin-right: -5px;
    margin-left: 13px;
  }

  .modal-dialog-close-icon .material-icons {
    font-size: 32px;
  }

  .modal-dialog-body p {
    margin: 0 20px 20px 20px;
    font-size: 14px;
    line-height: 22px;
  }

  .modal-header-entry {
    padding: 16px 20px 6px 20px;
  }

  .modal-icon-text,
  .modal-hover-icon-text,
  .modal-track-share-entry,
  .modal-track-details-entry {
    font-size: 15px;
    line-height: 20px;
    padding: 8px 20px;
  }

  .modal-click-item.modal-hover-icon-text {
    padding-left: 12px;
  }

  .modal-track-share-entry {
    padding: 10px 20px 14px 20px;
  }

  .modal-track-details-entry {
    padding: 10px 20px 5px 20px;
  }

  .modal-click-item {
    padding-left: 20px;
    padding-right: 20px;
  }

  .modal-click-item .material-icons {
    font-size: 24px;
    margin-right: 12px;
  }

  .modal-click-item.modal-hover-icon-text span.text-nowrap-ellipsis {
    margin-left: 4px;
  }

  .modal-dialog-footer {
    margin: 25px 15px 9px 15px;
  }

  .modal-dialog-close-button {
    font-size: 18px;
    line-height: 20px;
    width: 50px;
  }

}
