/*
* Settings UI
*
* https://ultrafunk.com
*
*/

.site-theme-light {
  --has-changed-color-odd: rgb(55, 110, 220);
  --has-changed-color-even: rgb(64, 128, 255);
}

.site-theme-dark,
.site-theme-black {
  --has-changed-color-odd: rgb(50, 100, 200);
  --has-changed-color-even: rgb(40, 80, 160);
}

#settings-container {
  width: 100%;
  min-height: 75vh;
  opacity: 0;
  transition: opacity 250ms;
}

.show-snackbar-log {
  font-weight: 700;
  cursor: pointer;
}

.show-snackbar-log:hover,
.show-snackbar-log:active {
  text-decoration: underline;
}

table.settings {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
  font-size: 22px;
  line-height: 30px;

  tr:nth-child(odd) {
    background: var(--list-row-odd-color);
  }

  @media all and (pointer: fine) {

    tr:hover {
      background: var(--list-row-hover-color);
      cursor: pointer;
    }

  }

  @media not all and (pointer: fine) {

    tr:nth-child(odd) {
      background: var(--list-row-odd-color);
      transition: background 150ms 0s ease-in;
    }

    tr:nth-child(even) {
      transition: background 150ms 0s ease-in;
    }

    tr:active {
      background: var(--list-row-hover-color);
      transition: var(--button-active-transition);
    }

  }

  td {
    padding: 10px 15px;
  }

  td.changed-indicator {
    padding: 0;
    border-top-left-radius: var(--button-border-radius);
    border-bottom-left-radius: var(--button-border-radius);
    width: 6px;
  }

  tr.value-changed:nth-child(odd) td.changed-indicator {
    background-color: var(--has-changed-color-odd);
    border-radius: 0;
  }

  tr.value-changed:nth-child(even) td.changed-indicator {
    background-color: var(--has-changed-color-even);
    border-radius: 0;
  }

  td.spacer {
    padding: 0;
    width: 9px;
  }

  td.description {
    white-space: nowrap;
    padding-left: 0;
  }

  td.value-string {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    text-align: end;
    border-top-right-radius: var(--button-border-radius);
    border-bottom-right-radius: var(--button-border-radius);
    color: var(--primary-icon-color);
  }

  td.current-value-false {
    opacity: 0.6;
  }

}

.settings-clear-container {
  clear: both;
  margin: 100px auto 100px auto;
  text-align: center;
}

.settings-clear-button {
  padding: 12px 30px;
  color: var(--button-text-color);
  background-color: var(--site-theme-light-color);
  max-width: 225px;
  text-align: center;
  border-radius: var(--button-border-radius);
}

#settings-save-reset {
  display: flex;
  position: sticky;
  bottom: 25px;
  align-items: center;
  justify-content: end;
  margin: var(--site-content-margin-bottom) 0;
  font-size: 22px;
  font-weight: 400;
}

.settings-save-button,
.settings-reset-button {
  display: flex;
  align-items: center;
  color: var(--button-text-color);
  background-color: var(--site-theme-light-color);
  padding: 8px 20px 8px 0px;
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
  border-radius: var(--button-border-radius);
}

.settings-reset-button {
  margin-left: 20px;
}

.settings-save-button .material-icons,
.settings-reset-button .material-icons {
  font-size: 30px;
  margin-left: 18px;
  margin-right: 12px;
}

@media all and (pointer: fine) {

  .settings-clear-button:hover,
  .settings-save-button:hover,
  .settings-reset-button:hover {
    background: var(--site-theme-medium-color);
    cursor: pointer;
  }

}

@media not all and (pointer: fine) {

  .settings-clear-button,
  .settings-save-button,
  .settings-reset-button {
    transition: var(--button-default-transition);
  }

  .settings-clear-button:active,
  .settings-save-button:active,
  .settings-reset-button:active {
    background: var(--site-theme-medium-color);
    transition: var(--button-active-transition);
  }

}


/**************************************************************************************************
* Responsive: max-width: 1350px
***************************************************************************************************/

@media screen and (max-width: 1350px) {

  table.settings,
  #settings-save-reset {
    width: calc(100% - (75px + 75px));
    margin-left: auto;
    margin-right: auto;
  }

}


/**************************************************************************************************
* Responsive: max-width: 1100px
***************************************************************************************************/

@media screen and (max-width: 1100px) {

  table.settings,
  #settings-save-reset {
    font-size: unset;
    line-height: unset;
  }

}


/**************************************************************************************************
* Responsive: max-width: 900px
***************************************************************************************************/

@media screen and (max-width: 900px) {

  table.settings,
  #settings-save-reset {
    width: calc(100% - (50px + 50px));
  }

}


/**************************************************************************************************
* Responsive: max-width: 768px
***************************************************************************************************/

@media screen and (max-width: 768px) {

  table.settings,
  #settings-save-reset {
    width: calc(100% - (25px + 25px));
  }

}


/**************************************************************************************************
* Responsive: max-width: 500px
***************************************************************************************************/

@media screen and (max-width: 500px) {

  table.settings,
  #settings-save-reset {
    width: calc(100% - (20px + 20px));
  }

  .settings-clear-container {
    margin: 50px auto 50px auto;
  }

  .settings-clear-button {
    max-width: 125px;
  }

  #settings-save-reset {
    bottom: 16px;
  }

  .settings-save-button,
  .settings-reset-button {
    padding: 10px 15px 10px 0px;
  }

  .settings-reset-button {
    margin-left: 10px;
  }

  .settings-save-button .material-icons,
  .settings-reset-button .material-icons {
    font-size: 22px;
    margin-left: 15px;
    margin-right: 10px;
  }

  table.settings td {
    padding: 12px 15px;
  }

  table.settings td.description {
    padding-right: 0px;
  }

}


/**************************************************************************************************
* Responsive: max-width: 400px
***************************************************************************************************/

@media screen and (max-width: 400px) {

  table.settings td.description {
    white-space: initial;
  }

}
